
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

}

.links a{
    text-decoration: none;
    color: black;
}
.links a:visited{
    text-decoration: none;
    color: black;
}

.text {
    text-align: center;
    margin-top: 100px;
}

#colorBox {
    width: 100vw;
    height: 100vh;
    background-color: black;
    transition: background-color 2.5s linear;
  }

#name{
    
   
    color: black; 
    -webkit-text-stroke: 1px white; 
    font-weight: bold;
    margin-left: 8px;
    padding: 5px;
}

.header{
    display: flex;
    justify-content: space-between;
}
.footer{
    text-align: center;
    background-color: rgb(206, 239, 250);
    
}

h5 {
    font-weight: 100;
}

.topleft{
    display: flex;
    align-items: center;
    
}
#logo{
    width: auto;
    height: 55px;
    padding-left: 16px;
}
#lightdark{
    width: auto;
    height: 20px;
}

.sun {
    position: absolute;
    bottom: 62vh;
    left: 80vw;
    width: 75px;
    height: 75px;
    background: radial-gradient(circle at 30% 30%, #fff76b, #ffcc33);
    border-radius: 50%;
    animation: moveSun 12s ease-in-out forwards;
    z-index: 0;
    
   
  }

  ul {
    margin: 25px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;

  }

  li {
    padding: 5px;
    font-size: x-large;
  }


 
  @keyframes moveSun {
    0%   { transform: translateX(-100px) translateY(0);   opacity: 0.2; }
    100% { transform: translateX(0) translateY(-100px);  opacity: 1; }
  }



  .cloud {
    width: 180px;
    height: 120px;
    position: relative;
    -webkit-animation: wind infinite; /* Safari 4+ */
    -webkit-animation-timing-function: linear;
    z-index: 1;
  }
  
  .cloud div {
    background: white;
    position: absolute;
  
  }
  
  .cloud-1 {
    width: 90%;
    height: 57px;
    bottom: 0px;
    right: 0px;
    border-radius: 30px;
  }
  
  .cloud-2 {
    width: 80px;
    height: 80px;
    top: 8px;
    right: 25px;
    border-radius: 60px;
  }
  
  .cloud-3 {
    width: 70px;
    height: 70px;
    left: 0px;
    bottom: 0px;
    border-radius: 100px;
  }
  
  .cloud-4 {
    width: 50px;
    height: 50px;
    top: 25px;
    left: 35px;
    border-radius: 60px;
  }
  
  .cloud-no-2 {
    -webkit-animation-name: wind-right-offset, small;
  }
  
  .cloud-no-3 {
    -webkit-animation-name: wind-left-offset;
  }
  
  .cloud-large {
      -webkit-transform: scale(1.25) rotateY(180deg);
      -webkit-animation-duration: 139s;
  }
  
  .cloud-medium {
    -webkit-animation-duration: 100s;
  }
  
  .cloud-small {
    -webkit-animation-duration: 70s;
    -webkit-transform: scale(0.7);
  }
  
  @keyframes small {
    0, 100% { -webkit-transform: scale(0.7); }
  }
  
  @keyframes wind {
    0%   { -webkit-transform: translateX(100px); }
    100% { -webkit-transform: translateX(2100px); }
  }
  
  @keyframes wind-right-offset {
    0%   { -webkit-transform: translateX(700px); }
    100% { -webkit-transform: translateX(2100px); }
  }
  
  @keyframes wind-left-offset {
    0%   { -webkit-transform: translateX(-150px); }
    100% { -webkit-transform: translateX(2100px); }
  }


  
