
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#colorBox {
    width: 100vw;
    height: 100vh;
    background-color: black;
    transition: background-color 2.5s linear;
  }

#name{
    
   
    color: black; 
    -webkit-text-stroke: 1px white; 
    font-weight: bold;
    margin-left: 8px;
    padding: 5px;
}

.header{
    display: flex;
    justify-content: space-between;
}
.footer{
    text-align: center;
    background-color: rgb(206, 239, 250);
    
}

h5 {
    font-weight: 100;
}

.topleft{
    display: flex;
    align-items: center;
    
}
#logo{
    width: auto;
    height: 55px;
    padding-left: 16px;
}
#lightdark{
    width: auto;
    height: 20px;
}

.sun {
    position: absolute;
    bottom: 62vh;
    left: 80vw;
    width: 75px;
    height: 75px;
    background: radial-gradient(circle at 30% 30%, #fff76b, #ffcc33);
    border-radius: 50%;
    animation: moveSun 12s ease-in-out forwards;
    
   
  }

  ul {
    margin: 25px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;

  }

  li {
    padding: 5px;
    font-size: x-large;
  }


 
  @keyframes moveSun {
    0%   { transform: translateX(-100px) translateY(0);   opacity: 0.2; }
    100% { transform: translateX(0) translateY(-100px);  opacity: 1; }
  }


 


  
